footer {
  background-color: #ecf2f7;
  padding: 1rem;
}

footer h3 {
  color: rgb(151, 124, 50);
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  margin-top: 0;
}

.k-newsletter-app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.k-newsletter {
  width: 55%;
}

.k-app {
  width: 35%;
  float: right;
}

.k-input button {
  margin-left: 1em;
  cursor: pointer;
}

.k-info-icon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: #227294;
  font-size: 1rem;
  text-align: center;
  line-height: 1.25em;
  cursor: help;
}

.k-app-download img {
  width: 8em;
  height: auto;
  margin: 0 1em;
}

.k-app-download img:hover {
  box-shadow: none;
  box-shadow: 4px 4px 3px rgb(173, 154, 42);
}

.k-footer-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
}

.k-footer-nav-container a {
  color: #513611;
  text-decoration: none;
  font-weight: 500;
}

.k-footer-nav-container a:hover {
  text-decoration: underline;
  color: #b68d15;
  font-weight: bold;
}

.k-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  border-bottom: 1px solid gray;
}

.k-social-container i {
  padding: 1rem;
}

.k-copyright {
  text-align: center;
  color: #000000;
}

.k-btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.k-btn button {
  width: 4em;
  height: 4em;
  margin-bottom: 5px;
  border-radius: 30%;
  border: none;
  background-color: #42403f;
}

.k-btn button:hover {
  box-shadow: 4px 4px 3px rgba(202, 131, 39, 0.5);
  background-color: #db6f44;
}
